<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    {{{ _sections.head }}}
</head>
<body>
    {{{ body }}}
</body>
</html>
