{{#section 'head' }}
<script src="/js/zombie.js"></script>
<script>
jQuery(document).ready(function() {
    ZombieHugs.start('render-area', {{ game.id }});
});

function toggleAbout() {
    jQuery('#about').fadeToggle();
}
</script>
{{/section}}


<div class="container">
	<div class="row">
		<div class="col-sm-12">
		Playing game with ID {{ game.id }}
		</div>
	</div>
</div>

<div id="render-area">
</div>
