{{#section 'head' }}
<script src="/js/zombie.js"></script>
<script>
jQuery(document).ready(function() {
    ZombieHugs.start('render-area');
    ZombieHugs.joinGame({{ game.id }});
});

function toggleAbout() {
    jQuery('#about').fadeToggle();
}
</script>
{{/section}}

Playing game with ID {{ game.id }}
<div id="render-area">
</div>
