{{#section 'head' }}
<script src="/js/zombie.js"></script>
<script>
jQuery(document).ready(function() {
    var gameId = {{ game.id }};
    var params = {
        gameId: gameId,
        isSpectator: window.location.href.indexOf('spectate') >= 0, // spectator depends on a simple search of the browser url.
        renderAreaId: 'render-area'
    };

    // Start the game
    ZombieHugs.start(params);
});
</script>
{{/section}}


<div class="container">
	<div class="row">
		<div class="col-sm-12">
		Playing game with ID {{ game.id }}
		</div>
	</div>
</div>

<div id="render-area">
</div>
