{{#section 'head' }}
<script src="/js/zombie.js"></script>
<script>
jQuery(document).ready(function() {
    var gameId = {{ game.id }};

    // Start the game
    ZombieHugs.start('render-area');

    // Join as spectator or player depending on a simple search of the browser
    // url.
    if (window.location.href.indexOf('spectate') >= 0) {
      ZombieHugs.joinSpectator(gameId);
    }
    else {
      ZombieHugs.joinPlayer(gameId);
    }
});
</script>
{{/section}}


<div class="container">
	<div class="row">
		<div class="col-sm-12">
		Playing game with ID {{ game.id }}
		</div>
	</div>
</div>

<div id="render-area">
</div>
