body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.reloader {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 20px;
  background: #000;
  border: 2px solid #000;
}
#reload-bar {
  width: 200px;
  height: 20px;
  background: red;
  border: none;
}